* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(#9fc0cf, #e5edf1);
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 500px;
}

.container nav {
  width: 100px;
  height: 600px;
  border-radius: 12px;
  backdrop-filter: blur(18px);
  background: rgba(230, 235, 240, 0.7);
  border: 2px solid rgba(230, 235, 240, 0.7);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}
